body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

#About {
  background-color: white;
}

h1 {
  color: #ffb400;
  font-size: 3rem;
}

h2 {
  color: #037afb;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

h3 {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Shadows Into Light', sans-serif;
}

p {
  color: #000;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Cairo', sans-serif;
}

.container-fluid {
  padding: 2% 7% 2% 7%;
}

.container-fluid1 {
  padding: 3% 7% 0 7%;
}

.hacker {
  width: 70px;
  height: 70px;
}

.nav-item {
  padding: 0 15px;
  font-size: 1.2rem;
}

.intro {
  text-align: center;
}

.cloud1 {
  padding: 1% 0 2% 70%;
}

.cloud2 {
  padding: 1% 0 0 15%;
}

.sahil {
  width: 150px;
  height: 150px;
}

.row-about {
  margin: 8% 0;
  align-content: center;
}

.social-icon {
  height: 60px;
  width: 60px;
  background-color: #037afb;
}

.social-icon:hover {
  background-color: #fff;
}

@media (min-width: 992px) {
  .float-lg-right {
    transform: translateX(-50px);
  }
}

@media (min-width: 300px) and (max-width: 991.98px) {
  .Sahil-text {
    margin-top: 3%;
  }
}

.foot-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 1%;
}

.copyright {
  text-align: center;
  font-size: 1rem;
  padding-top: 1.75%;
}
